@charset "UTF-8";
/* CSS Document */

#banner-container {
	margin:0px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height:35%;	
}
#banner {
	min-height: 100% !important; /* real browsers */
	-moz-min-height: 100%;
	-webkit-min-height: 100%;
	position:relative;
	overflow:hidden;
	border-bottom: 1px solid black;
}

#item-1, #item-2, #item-3,
#item-4, #item-5, #item-6,
#item-7, #item-8, #item-9 {
	height: 99% !important;
	width: auto !important;
	min-width: 30%;
	position:absolute;
}

#item-big {
	width: 40% !important;
	height: auto !important;
	min-height: 90%;
	position:absolute;
	left: -20%;
	top: 0%;	
}

#item-1 {
	background: url(../images/green_big.svg) no-repeat;
	background-size: 98% auto;
	height: 100% !important;
	width: 100% !important;	
}

#item-2 {
	background:url(../images/blue_1.svg) no-repeat;
	background-size: 70% auto;
	left:120%;
}

#item-3 {
	background:url(../images/velvet_1.svg) no-repeat;
	background-size: 45% auto;
	left:140%;
}

#item-4 {
	background:url(../images/orange_1.svg) no-repeat;
	background-size: 50% auto;
	left:140%;
	top: 38%;
}

#item-5 {
	background:url(../images/pink_1.svg) no-repeat;
	background-size: 65% auto;
	left:140%;
	top: 0.1%;
}

#item-6 {
	background:url(../images/blue_2.svg) no-repeat;
	background-size: 50% auto;
	left:-25%;
	top: 40%;
}

#item-7 {
	background:url(../images/pink_2.svg) no-repeat;
	background-size: 40% auto;
	left:-25%;
	top: 52%;
}

#item-8 {
	background:url(../images/orange_2.svg) no-repeat;
	background-size: 45% auto;
	left:125%;
	top: 47%;
}

#item-9 {
	background:url(../images/velvet_2.svg) no-repeat;
	background-size: 45% auto;
	left:-25%;
	top: 46%;
}
